html{
    background-color: black;
    color: white;
    
}

body{
    margin: 0;
}
 div{
    /* put the borders on the inside of container */
    box-sizing: border-box;
 }

#navbar{
    height: 50px;
    background-color: bisque;
}

#sidebar{
    width: 20%;
    background-color: darksalmon;
}

#main{
    width: 80%;
}

#flex{
    display: flex;
    height: calc(100vh - 50px);
}

.container{
    border-style: dashed;
    border-color: rgb(178, 137, 137);
    border-width: 1px;
}