html{
    background-color: rgb(255, 255, 255);
    color: rgb(100, 75, 75);
    
}

body{
    margin: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
}

 div{
    /* put the borders on the inside of container */
    box-sizing: border-box;
 }

#navbar{
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar{
    width: 20%;
    background-color: rgb(167, 146, 135);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}

#main{
    width: 80%;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(151, 39, 39);
}

#flex{
    display: flex;
    height: calc(100vh - 50px);
}

.container{
    border-style: dashed;
    border-color: rgb(178, 137, 137);
    border-width: 1px;
}