button {
    background-color: #cc31c2;
    border: #cc31c2;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #eba3dc;
    box-shadow: 3px 3px black;
  }



  